@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

:root {
    --big: 'Roboto Condensed', sans-serif;
    --small: 'Cabin', sans-serif;
}

.titleblog {
    font-family: var(--big);
    letter-spacing: 3px;
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0rem;
}

@media screen and (max-width: 400px) {
    .titleblog {
        font-size: 13vw;
    }
}