@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

:root {
    --big: 'Roboto Condensed', sans-serif;
    --small: 'Cabin', sans-serif;
}

.aboutbox {
    padding: 8rem 1rem;
}

.abouttitle {
    font-family: var(--big);
    margin: 2rem 0rem;
    font-size: 4rem;
}

.aboutdetail {
    font-family: var(--small);
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .aboutbox {
        padding: 3rem 1rem;
    }
}

@media screen and (max-width: 400px) {
    .abouttitle {
        font-size: 15vw;
    }

    .aboutdetail {
        font-size: 5.5vw;
    }
}