@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

:root {
    --big: 'Roboto Condensed', sans-serif;
    --small: 'Cabin', sans-serif;
}

.contactbox {
    display: flex;
    flex-direction: column;
    padding: 8rem 1rem;
}

.contact1 {
    padding: 2.5rem 0rem;
    display: flex;
    justify-content: center;
}

.contact1 h1 {
    font-size: 3rem;
    font-family: var(--big);
    letter-spacing: 1px;
}

.contact2 {
    padding: 2.5rem 0rem;
    display: flex;
    justify-content: center;
}

.contact2 li {
    margin: 0rem 0.5rem;
}